.task-card, .completed-card {
  margin: 15px 0px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #f4f7f7;
  box-shadow: 2px 1px 1px rgba(79, 93, 117, .2);
  border-radius: 2px;
}

.task-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 10%;
  i {
    font-size: 32px;
    color: #4f5d75;
  }
}

.task-info {
  display: flex;
  align-items: center;
  height: 60px;
  width: 90%;
  padding-left: 10px;
}

.user-actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
